@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* utilities */
:root {
  --primary-color: #ef4f5f;
  --secondary-color: #f03245;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --font-family: "Fredoka", cursive !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", cursive !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color) !important;
}

.tomato {
  color: var(--primary-color) !important;
}
.tomato-bg {
  background-color: var(--primary-color) !important;
}
header,
footer {
  padding: 0.5% 5% !important;
}

.url-card:hover {
  text-decoration: none !important;
  box-shadow: 0 4px 15px --secondary-color !important;
}

.full-screen-height{
  min-height: 76vh !important;
}

.text-gray{
  color: gray !important;
}
 
.register-popup{
  margin-top: 80px !important;
}