@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* utilities */
:root {
  --primary-color: #f04f5f;
  --secondary-color: #df3f4f;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --text-black: #000000;
  /* --font-family-fredoka: "Fredoka", cursive !important; */
  --font-family-poppins: "Poppins", sans-serif !important;
  --font-family-open-sans: "Open Sans", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-open-sans) !important;
}

h1 {
  color: var(--primary-color) !important;
  font-family: var(--font-family-poppins) !important;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-black) !important;
}

h3 {
  font-size: 1rem !important;
}
.tomato,
.text-tomato {
  color: var(--primary-color) !important;
}
.tomato-bg {
  background-color: var(--primary-color) !important;
}
header,
footer {
  z-index: 10;
  padding: 1% 5%;
  background: #fff;
  position: sticky;
  top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.brand-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  padding: 8px 15px;
  width: 100%;
  max-width: 500px; /* Prevents stretching too wide */
  transition: all 0.3s ease-in-out;
}

.reg-btn {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
  padding: 9px 20px !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
  width: 15%;
}

.home-heading-h1 {
  font-size: 2.8rem !important;
  font-weight: 700 !important;
  color: #000000 !important;
  margin-bottom: 3rem !important;
}

.url-card {
  border: 1px solid var(--primary-color) !important;
  border-radius: 40px 10px !important;
  text-decoration: none !important;
  box-shadow: #f04f5f30 0px 4px 8px -2px, #f04f5f30 0px 0px 0px 1px;
  transition: box-shadow 0.3s ease;
  padding: 10px;
}

.url-card:hover {
  text-decoration: none !important;
  box-shadow: rgba(255, 0, 0, 0.25) 0px 4px 8px -2px,
    rgba(255, 0, 0, 0.08) 0px 0px 0px 1px;
}

.url-card a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.admin-title-heading-container,
.admin-dashboard-heading-container {
  margin-top: -1rem;
}
.admin-title-heading {
  background-color: #ffffff !important;
  width: 300px;
  border-radius: 25px;
}

.admin-dashboard-heading-container {
  margin-top: -2.5rem;
}

.admin-dashboard-heading {
  background-color: #000000 !important;
  padding: 5px 20px !important;
  color: #facc15 !important;
}

.table-title {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.full-screen-height {
  min-height: 76vh !important;
}

.text-gray {
  color: gray !important;
}

.table-top {
  background-color: #ffe4e6 !important;
}

.admin-banner {
  width: 100%;
  height: 150px;
  background-image: url("/public/assets/mefoodie-header-bg.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  margin-top: -3rem;
}

/* Popup background */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Popup content box */
.popup-content {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 550px;
  animation: slideDown 0.4s ease;
}

/* Success icon */
.popup-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Close button */
.popup-close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  transition: 0.3s;
}
.popup-close:hover {
  color: #333;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.search-container input::placeholder {
  color: #999;
}

.search-container:focus-within {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: #dadce0;
}

.search-container-parent {
    width: 100% !important;
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
    margin-top: -2rem !important;
    margin-bottom: 1rem !important;
  }

  #search-results {
    width: 49.5% !important;
    margin-top: 2.45rem;
}

/* Animation */
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ============================ */
/* ====== mobile view ========= */
/* ============================ */
@media (max-width: 480px) {
  #popup {
    z-index: 9999 !important; /* force overlay over header */
    align-items: flex-start !important; /* prevent vertical centering */
    padding-top: 3rem !important; /* manual space from top if needed */
  }
  .register-popup {
    z-index: 999;
    margin: 0 auto !important;
  }
  
  #search-results {
    width: 100% !important;
    margin-top: 2.45rem;
}
.search-container-parent {

  margin-bottom: 2rem !important;
}

}

/* ============================ */
/* ====== tab view ========= */
/* ============================ */
@media (max-width: 768px) {
  #popup {
    z-index: 9999 !important;
    align-items: flex-start !important;
    padding-top: 3rem !important;
  }
  .register-popup {
    z-index: 999;

    margin: 0 auto !important;
  }
  
.search-container-parent {

  margin-bottom: 2rem !important;
}
  #search-results {
    width: 70% !important;
    margin-top: 2.45rem;
}

}

/* ============================================================== */

/* ---------- Responsive Behavior ---------- */

/* Tablets (768px and below) */
@media (max-width: 992px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .brand-name {
    justify-content: center;
    width: 100%;
  }

  .search-container {
    width: 80%;
    margin: 0px 0;
  }
  

  .reg-btn {
    width: auto;
  }
}

/* Mobiles (600px and below) */
@media (max-width: 600px) {
  header {
    padding: 1px 20px;
  }

  .search-container {
    width: 100%;
    padding: 8px 12px;
  }

  .reg-btn {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
  }
}

/* ============================== */
/* ====== pagination ========= */
/* ============================== */

#pagination a {
  font-weight: 600;
  font-size: 14px;
  transition: background 0.2s;
}
#pagination a:hover {
  opacity: 0.9;
}
